// fonts
$font-main: 'Roboto', sans-serif;

//_variables.scss definiendo colores
$color-bg: #f3f4f5;
$color-secondary: #ffecb3; //amarillo pastel
$color-primary:#ffb6c1;//rosa pastel
$color-background: #fff0f5; //lila suave
$color-text: #6b4e71; //morado oscuro
$color-button: #fcb0b3; //botón rosa
$color-border: #ffc0cb; //borde rosa

