

//_variables.scss definiendo colores
$color-primary: #ffafcc; // Rosa coral suave
$color-secondary: #bde0fe; // Azul pastel elegante
$color-background: #f8edeb; // Crema cálido
$color-text: #4a4e69; // Gris azulado elegante
$color-border: #ffcad4; // Rosa claro
$color-button: #ff6392; // Rosa fuerte para botones
$color-hover: #e56b6f; // Tono más oscuro para hover
