
@use '../core/variables' as *;


footer {
  background-color: $color-secondary;
  padding: 15px;
  font-size: 1.2rem;
  color: $color-text;
  font-weight: bold;
  border-top: 5px solid $color-border;
}