
@use '../core/variables' as *;


.titleanime {
  background-color: $color-primary;
  padding: 20px;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 5px solid $color-border;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
