@use './core/variables' as *;
@use './core/reset';
@use './layout/header';
@use './layout/footer';

body {
    background-color: $color-background;
    color: $color-text;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
  

  
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.input {
    width: 60%;
    max-width: 400px;
    padding: 10px;
    border: 2px solid $color-border;
    border-radius: 20px;
    font-size: 1rem;
    outline: none;
}

.btn, .btn-reset, .btn-eliminar-fav {
    background-color: $color-button;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: $color-hover;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.section-result, .section-fav {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 48%; /* Ajusta el ancho para que queden en línea */
    min-height: 300px;
}

/* Ajustar para pantallas pequeñas */
@media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
   }
   .section-result, .section-fav {
      width: 100%;
   }
}